:root {
  --darkpurple: #5b0a78;
  --lightpurple: #e6ceff;
  --grey: #dddddd;
  --darkteal: #045E6A;
  --lightteal: #01B281;
  --white: #fff;
  --brown: #754c24;
  --darkbrown: #42210b;
  --medbrown: #603813;
}