.navbar {
    background-color: var(--lightpurple) !important;
}

.navbar .MuiTouchRipple-root {
    display: none !important;
}

.navbar .MuiButtonBase-root {
    background-color: transparent !important;
}

.navbar .MuiButtonBase-root:active,
.navbar .MuiButtonBase-root:focus {
    background-color: transparent !important;
}

.navbar * {
    user-select: none;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.navbar *:active,
.navbar *:focus {
    background-color: transparent !important;
}

.navbar-logo {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.navbar-logo:hover {
    opacity: 0.7;
}

.shelfie-wide-logo {
    height: 30px;
    display: block;
}

.shelfie-square-logo {
    height: 40px;
    display: none;
}

/* Show square logo on narrow screens */
@media (max-width: 640px) {
  .shelfie-wide-logo {
    display: none;
  }
  .shelfie-square-logo {
    display: block;
  }
}

.navbar-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.navbar-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar-icon:hover {
  transform: scale(1.2);
  opacity: .7;
}