.navbar {
    background-color: var(--lightpurple) !important;
    height: 64px !important;
    min-height: 64px !important;
    max-height: 64px !important;
}

.navbar .MuiToolbar-root {
    height: 64px !important;
    min-height: 64px !important;
}

.navbar .MuiTouchRipple-root {
    display: none !important;
}

.navbar .MuiButtonBase-root:not(.info-button):not(.logout-button) {
    background-color: transparent !important;
}

.navbar .MuiButtonBase-root:not(.info-button):not(.logout-button):active,
.navbar .MuiButtonBase-root:not(.info-button):not(.logout-button):focus {
    background-color: transparent !important;
}

.navbar * {
    user-select: none;
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}

.navbar-logo {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.navbar-logo:hover {
    opacity: 0.7;
}

.shelfie-wide-logo {
    height: 30px;
    display: block;
}

.shelfie-square-logo {
    height: 40px;
    display: none;
}

/* Show square logo on narrow screens */
@media (max-width: 640px) {
  .shelfie-wide-logo {
    display: none;
  }
  .shelfie-square-logo {
    display: block;
  }
}

.navbar-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.navbar-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar-icon:hover {
  transform: scale(1.2);
  opacity: .7;
}

.info-button,
.logout-button {
  background-color: transparent !important;
}

.info-button:hover,
.logout-button:hover {
  background-color: rgba(91, 10, 120, 0.1) !important;
}