.navbar {
    background-color: var(--lightpurple) !important;
}

.shelfie-wide-logo {
    height: 30px;
    display: block;
}

.shelfie-square-logo {
    height: 40px;
    display: none;
}

/* Show square logo on narrow screens */
@media (max-width: 640px) {
  .shelfie-wide-logo {
    display: none;
  }
  .shelfie-square-logo {
    display: block;
  }
}

.navbar-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.navbar-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar-icon:hover {
  transform: scale(1.2);
  opacity: .7;
}